.home__button {
    display: flex;
}

@media (max-width: 384px) {
    .home__button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .home__button > button {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}

@media (max-width: 600px) {
    .home__button {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}