.imageupload__layout {
    border-radius: 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed  #8D99A7;
    background: var(--white-linear);
    box-shadow: 0px 4px 34px 1px rgba(0, 0, 0, 0.10); 
}
